<html>
    <head>
        <title>
            Zabbix batch interaction
        </title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Zabbix batch interaction</h1>
            </div>

            <check if="{{ @successMessage !== null }}">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    {{ @successMessage }}
                </div>
            </check>
            
            <check if="{{ @errorMessage !== null }}">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    {{ @errorMessage }}
                </div>
            </check>

            <ul class="nav nav-tabs" role="tablist">
                <li <check if="{{ @activeTab == 'config' }}">class="active"</check>><a href="#config" role="tab" data-toggle="tab">Configuration</a></li>
                <li <check if="{{ @activeTab == 'create' }}">class="active"</check>><a href="#create" role="tab" data-toggle="tab">Create</a></li>
                <li <check if="{{ @activeTab == 'remove' }}">class="active"</check>><a href="#remove" role="tab" data-toggle="tab">Remove</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content" style="padding:10px;">
                <include href="templates/_config.htm" />
                <include href="templates/_create.htm" />
                <include href="templates/_remove.htm" />
            </div>
        </div> <!-- /container -->
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <script src="assets/js/app.js"></script>
    </body>
</html>